body {
  overflow: hidden;
}

.pinned {
  top: 10px;
  left: 10px;
  position: fixed;
}

stack {
  max-height: 90vh;
  max-width: 90vw;
  height: 90vw;
  width: 90vw;
  padding: 0;
  margin: 10vh auto;
  display: block;
  position: relative;
}

card {
  max-height: 90vh;
  max-width: 90vw;
  height: 90vw;
  width: 90vw;
  margin: 0;
  display: block;
  border: 1px solid #333;
  border-radius: 4px;
  position: absolute;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  background-color: white;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: grab;
  cursor: -webkit-grab;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

card:active {
  cursor: -webkit-grabbing;
}

@media screen and (orientation:landscape) {
  card, stack {
    max-height: 90vh;
    max-width: 90vw;
    height: 90vh;
    width: 90vh;
  }
  stack {
    margin: 5vh auto;
  }
}