body {
  overflow: hidden;
}

.pinned {
  top: 10px;
  left: 10px;
  position: fixed;
}

stack {
  max-height: 90vh;
  max-width: 90vw;
  height: 90vw;
  width: 90vw;
  padding: 0;
  margin: 10vh auto;
  display: block;
  position: relative;
}

card {
  max-height: 90vh;
  max-width: 90vw;
  height: 90vw;
  width: 90vw;
  margin: 0;
  display: block;
  border: 1px solid #333;
  border-radius: 4px;
  position: absolute;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  background-color: white;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: grab;
  cursor: -webkit-grab;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

card:active {
  cursor: -webkit-grabbing;
}

@media screen and (orientation:landscape) {
  card, stack {
    max-height: 90vh;
    max-width: 90vw;
    height: 90vh;
    width: 90vh;
  }
  stack {
    margin: 5vh auto;
  }
}

.msg {
  color: white;
  font-family: Verdana;
  font-size: 4vw;
  padding: .75vh .75vw;
  border: 1vw dotted white;
  border-radius: 2vw;
  position: absolute;
  top: 4vh;
  font-weight: bolder;
  box-shadow: 0 0 3vw 2vw rgba(0,0,0,.75);
  /*box-shadow: .5vw .5vh 1vw rgba(0,0,0,.5);*/
  text-shadow: .25vw .25vh 1vw rgba(0,0,0,.75);
  background: rgba(0,0,0,.75);
  opacity: 0;
}

.dislike {
  color: red;
  border-color: red;
  right: 5vw;
  transform: rotate(25deg);
}

.like {
  color: lime;
  border-color: lime;
  left: 5vw;
  transform: rotate(-25deg);
}